.Favourites {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center;
    color: #FAA307;
}
.FavouriteContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Favourites>h1 {
    font-size: 22px;
    text-align: center;
    color: #9d0208;
}
