.Properties {
    border-top-style: groove;
    border-color: rgba(0, 0, 0, 0.096);
    padding-top: 10px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.PropertyCards {
    border: solid salmon;
}
