.PropertyContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.EachProperty {
    border: 1px solid black;
    border-radius: 1%;
    margin: 15px;

}
img {
    padding: 3px;
}
.titleDiv {
    text-align: center;
    padding-bottom: 10px;
}
.icon {
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
}
.EachProperty:hover {
    transform: scale(1.1);
}