.PropertyContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.EachProperty {
    border: 1px solid orange;
    border-radius: 1%;
    margin: 15px;
}
img {
    padding: 3px;
}
.icon {
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
}
.EachProperty:hover {
    transform: scale(1.1);
}
.titleDiv,.typeDiv, .bedroomsDiv, .bathroomsDiv, .priceDiv, .cityDiv, .emailDiv {
    padding: 5px 5px 5px 0px;
}
.emailDiv {
    padding: 10px;
    background-color: orange;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}
.titleDiv {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
}
a:link {
    text-decoration: none;
    color: white;
}