.PropertyContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.EachProperty {
    border: 1px solid #FAA307;
    border-radius: 1%;
    margin: 15px;
}
img {
    padding: 3px;
}
.icon {
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
}

.titleDiv,.typeDiv, .bedroomsDiv, .bathroomsDiv, .priceDiv, .cityDiv, .emailDiv {
    padding: 5px 5px 5px 0px;
}
.emailDiv {
    padding: 10px;
    background-color: #FAA307;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: white;
    border: 2px solid;
}
.saveButton {
    width: 100%;
    border:solid;
    border-width:  0px 2px 2px 2px ;
    padding: 10px;
    background-color: #FAA307;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}
.titleDiv {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
}
.emailDiv:hover {
    transform: scale(1.1);
}
.saveButton:hover {
    transform: scale(1.1);
    border:solid;
    border-width:  2px ;
}
.saveButton:active {
    color: rgb(106, 4, 15)
}
.saveButton:focus {
    color: rgb(106, 4, 15)
}
.emailLink {
    text-decoration: none;
    color: white;
}
