.SearchForm {   
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.SearchButton {
    background-color:rgba(255, 250, 241, 0.548);
    border-radius:10px;
    border: none;
    width: 80px;
}
.SearchInput {
    border-radius: 15px;
    border: 1px solid rgba(248, 205, 125, 0.527);
    padding: 3px;
}
h3 {
    margin-bottom: 0px;
}
.FilterByCity,.SortBy {
    display: flex;
    justify-content: space-evenly;
}
.SortBy {
    border-bottom: 1px solid;
    border-color: rgba(248, 205, 125, 0.527);
}
.SearchCityLink,.SortPriceLink {
    color: black;
    text-decoration: none;
    border: 1px solid rgba(248, 205, 125, 0.527);
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(253, 253, 253);
    font-size: 13px;
}

.SearchCityLink:focus {
    background-color: #FAA307 ;
}

.SortPriceLink:focus {
    background-color: #FAA307 
}


@media screen and (min-width: 750px) {
    .SideBar {
        width: 170px;
        padding-right: 40px;
    }
    .SearchForm {
        display: flex;
        flex-direction: column;
        width: 150px;
    }
    .SearchInput {
        width: 140px;
    }
    .SearchButton {
        padding-top: 10px;
        padding-right: 0px;
        align-self: flex-end;
    }
    .FilterByCity,.SortBy {
        display: flex;
        flex-direction: column;
    }
    .SearchCityLink,.SortPriceLink {
        color: black;
        text-decoration: none;
        border: none;
        border-radius: 0px;
        background-color: none;
        padding: 10px;
        margin: 0px;
        font-size: 13px;
    }
    .SearchCityLink:hover {
        background-color: #FAA307 ;
    }
    .SortPriceLink:hover{
        background-color: #FAA307 ;
    }
}